<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Menu list</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/menu.css" />
    </head>
    <body>
        <div class="container">
            <div class="menu card">
                <div class="menu__header">
                    <h1 class="title">Menu</h1>
                    <% if (isAdmin) { %>
                    <a href="/admin/orders" class="menu__order-button">Check orders</a>
                    <% } else { %>
                    <form action="/orders" method="POST">
                        <button class="menu__order-button">Create order</button>
                    </form>
                    <% } %>
                </div>

                <div class="menu__list">
                    <% menu.forEach(menuItem => { %>
                    <div class="menu__item card">
                        <div class="menu__upper-part">
                            <img class="menu__image" src="<%= menuItem.image %>" alt="<%= menuItem.name %>" />
                            <span class="menu__name"><%= menuItem.name %></span>
                            <span class="menu__description"><%= menuItem.description %></span>
                        </div>

                        <div class="menu__lower-part">
                            <span class="menu__price"><%= menuItem.price %> $</span>
                            <% if (isAdmin) { %>
                            <a href="/admin/menu/<%= menuItem.id %>" class="menu__button">View</a>
                            <% } else { %>
                            <a href="/menu/<%= menuItem.id %>" class="menu__button">View</a>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <% if (isAdmin) { %>
                <form action="/menu" method="POST" class="menu__form">
                    <h2 class="menu-form__title">Add Menu Item</h2>
                    <input class="menu-form__input" type="text" name="name" placeholder="Name" required />
                    <textarea class="menu-form__textarea" name="description" placeholder="Description" required></textarea>
                    <input class="menu-form__input" type="text" name="image" placeholder="Image URL" />
                    <input class="menu-form__input" type="number" name="price" placeholder="Price" required />
                    <button class="menu-form__button" type="submit">Add Menu Item</button>
                </form>
                <% } %>
            </div>
        </div>
    </body>
</html>
