<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Orders list</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/order.css" />
    </head>
    <body>
        <div class="container">
            <div class="order card">
                <div class="order__header">
                    <h1 class="title">Orders</h1>
                    <a href="/admin/menu" class="order__menu-button">Back to menu</a>
                </div>

                <div class="order__list">
                    <% orders.forEach(orderItem => { %>
                    <div class="order__item card">
                        <span class="order__client"><%= orderItem.customerName %></span>

                        <% if (orderItem.items.length == 1) { %>
                        <span class="order__amount"><%= orderItem.items.length %> dish ordered</span>
                        <% } else { %>
                        <span class="order__amount"><%= orderItem.items.length %> dishes ordered</span>
                        <% } %>

                        <select name="status" class="order__select">
                            <% if (orderItem.status === "Pending") { %>
                            <option value="Pending" selected>Pending</option>
                            <% } else { %>
                            <option value="Pending">Pending</option>
                            <% } %> <% if (orderItem.status === "In Progress") { %>
                            <option value="In Progress" selected>In Progress</option>
                            <% } else { %>
                            <option value="In Progress">In Progress</option>
                            <% } %> <% if (orderItem.status === "Completed") { %>
                            <option value="Completed" selected>Completed</option>
                            <% } else { %>
                            <option value="Completed">Completed</option>
                            <% } %>
                        </select>

                        <form action="orders/<%= orderItem.id %>/status" method="POST">
                            <button class="order__button" type="submit">Update</button>
                        </form>

                        <a href="/admin/orders/<%= orderItem.id %>" class="order__button">View</a>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
